.the-list {
	list-style: none;
	padding-left: 0;
	width: 250px;
}

.the-list li {
	position: relative;
	color: #333;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.the-list li:hover {
	background-color: #ffc0cb;
}

.the-list li span {
	position: absolute;
	right: 10px;
}

.the-list li span:hover {
	color: red;
	cursor: pointer;
}